# Copy this file to .env.
# Edit the .env file with the required settings before starting the app.

# Required: Provide your web service URL for scoring.
URL=

# Required: Provide your web service deployment access token.
TOKEN=

# Optional: You can override the server's host and port here.
HOST=0.0.0.0
PORT=5000

